<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
</head>
<body>
    <h1>Detalles del Carrito</h1>
    <p><strong>ID del Carrito:</strong> {{cart._id}}</p>
    <p><strong>Fecha de Creación:</strong> {{cart.createdAt}}</p>
    <p><strong>Productos en el Carrito:</strong></p>
    <ul>
        {{#each cart.products}}
            <li>
                <p><strong>Producto:</strong> {{this.title}}</p>
                <p><strong>Descripción:</strong> {{this.description}}</p>
                <p><strong>Cantidad:</strong> {{this.quantity}}</p>
                <p><strong>Precio Unitario:</strong> {{this.price}}</p>
                <img src="{{this.product.thumbnail}}" alt="Thumbnail del Producto">
            </li>
        {{/each}}
    </ul>
    <p><strong>Total del Carrito:</strong> {{cartTotal}}</p>

    <form id="checkoutForm" action="/checkout" method="post">
        <input type="submit" value="Finalizar Compra">
    </form>
</body>
</html>
