<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
        }

       nav {
            text-align: center;
            padding: 10px 0;
        }
        nav a{
            text-decoration: none;
        }
        nav ul {
            display: inline;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #007bff;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            border-bottom: 1px solid #ddd;
            padding: 20px 0;
        }

        img {
            max-width: 100px;
            height: auto;
            display: block;
            margin-top: 10px;
        }

        form {
            text-align: center;
            margin-top: 20px;
        }

        input[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <nav>
        <ul> 
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/carts/{{user.cart}}">Carrito</a></li> 
        </ul>
    </nav>

    <div class="container">
        <h1>Detalles del Carrito</h1>
        <p><strong>ID del Carrito:</strong> {{cart._id}}</p>
        <ul>
            {{#each cart.products}}
                <li>
                    <p><strong>Producto:</strong> {{this.product.title}}</p>
                    <p><strong>Descripción:</strong> {{this.product.description}}</p>
                    <p><strong>Cantidad:</strong> {{this.quantity}}</p>
                    <p><strong>Precio Unitario:</strong> ${{this.product.price}}</p>
                    <img src="{{this.product.thumbnail}}" alt="Thumbnail del Producto">
                </li>
            {{/each}}
        </ul>
        <p><strong>Total del Carrito:</strong> ${{cartTotal}}</p>

        <form id="checkoutForm" action="/checkout" method="post">
            <input type="submit" value="Finalizar Compra">
        </form>
    </div>
</body>
</html>
