<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Productos</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    h1 {
      text-align: center;
      margin-top: 20px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;
    }
    form {
      display: inline-block;
    }
    nav {
      text-align: center;
      padding: 10px 0;
    }
    nav ul {
      display: inline;
    }
    nav ul li {
      display: inline;
      margin-right: 10px;
    }
  </style>
</head>
<body>
    <nav>
      <ul>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/carts/{{user.cart}}">Carrito</a></li>
      </ul>
    </nav>
    <h1>Listado de Productos</h1>
  {{#if user}}
    <strong>Bienvenido, {{user.first_name}} {{user.last_name}}, estos son nuestros productos para ti!!</strong>
  {{/if}}
  <ul>
    {{#each products}}
      <li>
        <strong>ID:</strong> {{this._id}}<br>
        <strong>Título:</strong> {{this.title}}<br>
        <strong>Descripción:</strong> {{this.description}}<br>
        <strong>Precio:</strong> {{this.price}}<br>
        <strong>Thumbnail:</strong> {{this.thumbnail}}<br>
        <strong>Código:</strong> {{this.code}}<br>
        <strong>Stock:</strong> {{this.stock}}<br>
        <strong>Estado:</strong> {{this.status}}<br>

       
        <form id="addToCartForm-{{this._id}}" action="/api/dbcarts/{{user.cart}}/products" method="post">
          <input type="hidden" name="productId" value="{{this._id}}">
          <input type="number" name="quantity" value="1" min="1">
          <input type="submit" value="Agregar al Carrito">
        </form>
      </li> 
    {{/each}}
  </ul>
  <div id="userData" data-cart-id="{{user.cart}}"></div>
  {{#if products.hasPrevPage}}
    <a href="{{products.prevLink}}">Página anterior</a>
  {{/if}}

  {{#if products.hasNextPage}}
    <a href="{{products.nextLink}}">Página siguiente</a>
  {{/if}}

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/addCart.js"></script>
</body>
</html>
